<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Flag</key>
		<integer>1</integer>
		<key>Getter</key>
		<string>getCRC:</string>
		<key>Key</key>
		<string>CRC</string>
		<key>Setter</key>
		<string>setCRC:forValue:</string>
		<key>Size</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>Flag</key>
		<integer>2</integer>
		<key>Getter</key>
		<string>getCreationDate:</string>
		<key>Key</key>
		<string>CreationDate</string>
		<key>Setter</key>
		<string>setCreationDate:forValue:</string>
		<key>Size</key>
		<integer>8</integer>
	</dict>
	<dict>
		<key>Flag</key>
		<integer>4</integer>
		<key>Getter</key>
		<string>getMD5:</string>
		<key>Key</key>
		<string>MD5Sum</string>
		<key>Setter</key>
		<string>setMD5:forValue:</string>
		<key>Size</key>
		<integer>16</integer>
	</dict>
</array>
</plist>
