<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mpq</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>mpq.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/mpq</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>MoPaQ Archive</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>W!pq</string>
				<string>MPQA</string>
				<string>D2pq</string>
				<string>Smpq</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.blizzard.mpq</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>org.macstorm.mpqfs</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string></string>
	<key>NSMainNibFile</key>
	<string>mpqfs</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>SUExpectsDSASignature</key>
	<true/>
	<key>SUFeedURL</key>
	<string>http://www.devklog.net/software/mpqfs.xml</string>
	<key>SUPublicDSAKey</key>
	<string>-----BEGIN PUBLIC KEY-----
MIIDOjCCAi0GByqGSM44BAEwggIgAoIBAQDQPxSlMnSvRduacaWe3gCJWduG6pI0
yuKq777+jia3ClkLYJOw35iOtUsNHyNtCy+P/2sUnqW6l4AAbZr0Rf9OgSBRjI/A
G1ooVN1bwXThVbYBVaaXQ6x34QTOs5d+Yst4MLvcboKsFno8B2uh+Goer+OWnhk5
zBbRTKjJHcGaKqAgd8blywmnQd3pGwr9TQ2vebqnZVzr2AnfAbK5yxYAdjOiE8hz
tGfpH/YpRDWAyQrpo9UT4mzh8KCi1RiFdWXkc9Y40pHszft5+Bc1Ic5ZFfdkAuei
VCitpLB6OT+Huafo3KUBMt0LvNsLtBROXPOQHzQDAs84Iirf4EWiIxRpAhUAlQKi
XQNDVPu6QbterlfVlBK4FBMCggEAStdOIN73EGXgw6NM5paVjnjwBast73GcxBu4
+i+oUdF9QDfkUGoukAQKKOSoQz90CPgb6mgYP44aFFy196RM+gq6Cq8Fz5rr4Zo+
CdpngMQDFv4uWXU30+dsgG14ET2Y/pEXQT6ClkdZOZca1Cs7RegpmIwBjYe0p5Gg
GNY5SW2Zj7ALMfmCfDmPR3okX+hWM+SHUB3d2QM8FIQUThAWjTLhGIglUg5gNnRK
Liu8a0trjIVHqZD3pLxYT9GPEaa5u4GRdDBDab2ji8cpTANv2zJ2DyLt8fUNfp81
xhkP+qmP+WX7JIWn/wGEF6/BxHW/XalqaWhiijemmAirFjl+CQOCAQUAAoIBAAI/
j3FH4lcqCg072RwiQWEJW+V+vYSySYsVjEatPw7qVLN31tbpUER6SDp52dvJuoQM
ZwtW4uB5To4GTFwZXcOhBy/K5B60iM3SD3NXKP5Ns/wiPUljvCjlred1owJ7ENnW
Ca8keCUdR+q4Q+8UKPCqQdyG5noC0NZFyI69rNQS/r8OvKwtKeHBzO+lKw++fRGF
n1iJq63QfijMDNm3bqvlYMyz7MKgDGyNBPdOGnZkIW37Uf6R6lM9d3JnsX+jFsTL
9DWxHKBo2LyAyjx8ZOpCgQP6S26phxVSFKjsUVZ+EhjIkjP995gArTYg3MULsOi6
WJdHtcSp4cEw3VRI8Tg=
-----END PUBLIC KEY-----
    </string>
	<key>SUShowReleaseNotes</key>
	<true/>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>MoPaQ Archive</string>
			<key>UTTypeIdentifier</key>
			<string>com.blizzard.mpq</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<array>
					<string>D2pq</string>
					<string>W!pq</string>
					<string>MPQA</string>
					<string>Smpq</string>
				</array>
				<key>public.filename-extension</key>
				<array>
					<string>mpq</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
