<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>folder</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>fold</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.folder</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string>dropmpq</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>DropMPQ</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>DMPQ</string>
	<key>CFBundleVersion</key>
	<string></string>
	<key>LSEnvironment</key>
	<dict>
		<key>MinimumSystemVersion</key>
		<string>10.4</string>
	</dict>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>PreferencePanes</key>
	<array>
		<string>DQImportPreferences</string>
		<string>DQMiscellaneousPreferences</string>
	</array>
	<key>SUEnableSystemProfiling</key>
	<true/>
	<key>SUExpectsDSASignature</key>
	<true/>
	<key>SUFeedURL</key>
	<string>http://www.devklog.net/software/dropmpq/dropmpq.xml</string>
	<key>SUPublicDSAKeyFile</key>
	<string>sparkle.pem</string>
	<key>SUShowReleaseNotes</key>
	<true/>
</dict>
</plist>
