DYLIB_COMPATIBILITY_VERSION = 1;
DYLIB_CURRENT_VERSION = 1;
FRAMEWORK_VERSION = A;
GCC_PREPROCESSOR_DEFINITIONS = $(DEBUG_DEFINES) $(FEATURE_DEFINES) $(GCC_PREPROCESSOR_DEFINITIONS);
HEADER_SEARCH_PATHS = stormlib2 $(HEADER_SEARCH_PATHS);
INFOPLIST_FILE = MPQ-Info.plist;
INSTALL_PATH = @executable_path/../Frameworks;
OTHER_LDFLAGS = -lz -lbz2 -lcrypto;
PRODUCT_NAME = MPQKit;
WRAPPER_EXTENSION = framework;
